.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
    margin: 0px auto;
    color: white;
}

.about-container img {
    border-radius: 100%;
    width: 300px;
}

.about-container p {
    text-align: center;
}

.about-container nav {
    display: flex;
}

.about-container a {
    margin: 0px 10px;
    text-decoration: none;
    color: white;
}

.about-container a:hover {
    color: grey;
}