.Category-nav-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.Category-nav-container button {
    color: white;
    background-color: #212121;
    text-decoration: none;
    border: 1px solid #292929;
    border-radius: 15px;
    padding: 5px 15px;
}

.Category-nav-container a:hover {
    border: 1px solid grey;
    background-color: grey;
}