.form-container {
    width: 75%;
    border-radius: 8px;
}

#name, #comment {
    width: 25%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    background-color: #212121;
    color: white;
    border-radius: 0px;
}

#name:focus, #comment:focus {
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

#name::placeholder, #comment::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#comment {
    width: 100%;
}

.shift-right {
    text-align: right;
}

.form-container button {
    width: max-content;
    padding: 10px 20px;
    background-color: #464646;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #0056b3;
}