.mini-grid-container {
    width: 95%;
    padding: 0px 0px 0px 50px;
    margin: 30px;
    border: 1px solid grey;
    border-radius: 15px;
}

.mini-grid-container_videos {
    width: 100%;
    display: flex;
    overflow: scroll;
    gap: 30px;
}

.mini-grid-container a {
    text-decoration: none;
}

.mini-grid-container button {
    color: white;
    font-size: 18px;
    background-color: #212121;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px 15px;
    position: relative;
    top: -17px; 
}

.mini-grid-container button:hover {
    border: 1px solid grey;
    background-color: grey;
    cursor: pointer;
}