.mini-grid-container {
    width: 90%;
    border-radius: 15px;
    margin: 50px 0px 10px 0px;
    padding: 20px;
    border: 1px solid grey;
}

.mini-grid-container_videos {
    display: flex;
    gap: 30px;
    overflow: scroll;
}

.mini-grid-container h3 {
    color: white;
    font-size: 24px;
}

.mini-grid-container a {
    text-decoration: none;
}