.listing-container {
    width: 400px;
    color: white;
}

#thumbnail {
    width: 100%;
    border-radius: 12px;
}

.listing-container_content {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    white-space: initial;
    text-overflow: ellipsis;
}

.listing-container h3 {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.listing-container p {
    margin: 10px 0px 15px 0px;
    padding: 0px;
}

#profile-pic {
    background-color: white;
    width: 65px;
    border-radius: 50%;
}